*{
	box-sizing: border-box;
}

div{
	background-color: white;

}
h1{
	text-align: center;
}

.p1{
	background-color: gray;
	margin: 10px 3px; 
	padding: 5px 0px;
}
.p2{
	background-color: gray;
	margin: 15px 5px;
	padding: 5px 10px;

}
.p3{
	background-color: gray;
	margin: 15px 5px;
	padding: 10px 10px;
}
p{
	position: relative;
    border: 2px solid black;
    text-align: center;
    width: 100%;
    
}
@media only screen (max-width: 992px){
      width:100%; 
}
@media only screen (min-width: 768px) and (max-width: 991px){
   width:75%
}
@media only screen (min-width: 767px){
 width:50%
}
